<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pethome.mapper.DailyTopicMapper">

    <resultMap id="BaseResultMap" type="com.pethome.entity.DailyTopic">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="content" property="content" />
        <result column="cover_image" property="coverImage" />
        <result column="theme" property="theme" />
        <result column="publish_date" property="publishDate" />
        <result column="status" property="status" />
        <result column="sort_order" property="sortOrder" />
        <result column="view_count" property="viewCount" />
        <result column="like_count" property="likeCount" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="selectByPublishDate" resultMap="BaseResultMap">
        SELECT * FROM daily_topic 
        WHERE publish_date = #{publishDate} 
        LIMIT 1
    </select>

    <select id="existsByPublishDate" resultType="boolean">
        SELECT COUNT(*) > 0 FROM daily_topic 
        WHERE publish_date = #{publishDate}
    </select>

</mapper>


